In [1]:
%pwd

'c:\\Users\\pouru\\All_about_pandas\\Machine_learning_project\\Resolute_AI_internship-\\experiment'

In [2]:
import os
import pandas as pd

In [3]:
os.chdir("../")

In [4]:
df=pd.read_excel("Data/Task3/rawdata.xlsx")

In [5]:
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [6]:
df['activity'].value_counts()

activity
placed    88
picked    87
Name: count, dtype: int64

In [7]:
df["position"].value_counts()

position
inside     156
Inside      15
outside      4
Name: count, dtype: int64

converting all upper case character into lower case character

In [8]:
df['position'] = df['position'].str.lower()

In [9]:
df["position"].value_counts()

position
inside     171
outside      4
Name: count, dtype: int64

Number of picking and placing activity done

In [10]:
# Define all target dates as a list
target_dates = ["2024-01-16", "2024-01-17", "2024-01-18"]

# Iterate through each target date and count occurrences
for target_date in target_dates:
    filtered_df = df[df["date"] == target_date]
    placed_count = filtered_df[filtered_df["activity"] == "placed"].shape[0]
    picked_count = filtered_df[filtered_df["activity"] == "picked"].shape[0]
    print(f"Number of 'placed' occurrences on {target_date}: {placed_count}")
    print(f"Number of 'picked' occurrences on {target_date}: {picked_count}")

Number of 'placed' occurrences on 2024-01-16: 40
Number of 'picked' occurrences on 2024-01-16: 40
Number of 'placed' occurrences on 2024-01-17: 9
Number of 'picked' occurrences on 2024-01-17: 10
Number of 'placed' occurrences on 2024-01-18: 39
Number of 'picked' occurrences on 2024-01-18: 37

In [11]:
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [12]:
df["date"].value_counts()

date
2024-01-16    80
2024-01-18    76
2024-01-17    19
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    datetime64[ns]
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 11.1+ KB

In [14]:
def convert_date(custom_datetime):
    # Assuming a custom date-time object with a method to format as a string
    return custom_datetime.strftime("%Y-%m-%d")  # Or any suitable format

df["date"] = df["date"].apply(convert_date)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    object
 1   time        175 non-null    object
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 11.1+ KB

In [16]:
data=df

In [17]:
data.head()

         date      time  sensor location  number activity position location.1
0  2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1  2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2  2024-01-16  10:28:30     1.0       A3       1   picked   inside         A3
3  2024-01-16  10:38:20     0.0       A4       1   placed   inside         A4
4  2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [18]:
data['position'] = data['position'].str.lower()

In [19]:
data['position'].value_counts()

position
inside     171
outside      4
Name: count, dtype: int64

In [20]:
from datetime import datetime, timedelta

# Sample data (replace with your actual data)
# data = {
#     "date": ["2024-01-16", "2024-01-16", "2024-01-17", "2024-01-17", "2024-01-18"],
#     "time": ["10:10:30 AM", "10:12:30 AM", "10:28:30 AM", "10:35:30 AM", "10:40:30 AM"],
#     "position": ["inside", "inside", "inside", "outside", "inside"]
# }

target_dates = ["2024-01-16", "2024-01-17", "2024-01-18"]

for dates in target_dates:
    inside_duration = 0
    outside_duration = 0

    for i in range(len(data["date"])):
        #print(data["date"][i])
        if data["date"][i] == dates:
            if data["position"][i] == "inside":
                current_time = datetime.strptime(str(data["time"][i]), "%H:%M:%S")
                if i+1 < len(data["date"]) and data["date"][i+1] == dates:
                    one_step_ahead_time = datetime.strptime(str(data["time"][i+1]), "%H:%M:%S")
                time_delta = one_step_ahead_time - current_time
                
                inside_duration += time_delta.total_seconds() / 60
            else:
                current_time = datetime.strptime(str(data["time"][i]), "%H:%M:%S")
                if i+1 < len(data["date"]):
                    one_step_ahead_time = datetime.strptime(str(data["time"][i+1]), "%H:%M:%S")
                time_delta = one_step_ahead_time - current_time
                outside_duration += time_delta.total_seconds() / 60
                 

    inside = int(inside_duration)
    inside = abs(inside)
    outside = int(outside_duration)
    outside = abs(outside)
    print(f"Date: {dates}")
    print(f"- Inside duration: {inside} minutes")
    print(f"- Outside duration: {outside} minutes")

Date: 2024-01-16
- Inside duration: 512 minutes
- Outside duration: 0 minutes
Date: 2024-01-17
- Inside duration: 133 minutes
- Outside duration: 0 minutes
Date: 2024-01-18
- Inside duration: 106 minutes
- Outside duration: 46 minutes